{% extends "../main.html" %}

{% block title %}Settings{% end %}

{% block content %}
    <div class="container">
        <h1>Settings</h1>
        <br />
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
                <div class="alert alert-error">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <h4 class="alert-heading">ERROR</h4>
                    {{ error }}
                </div>
            {% end %}
        {% end %}
        <div class="well">
            <legend>Change Password</legend>
            <form class="form-horizontal" action="/settings" method="post" autocomplete="off">  
                {% raw xsrf_form_html() %}
                <div class="control-group">
                    <label class="control-label" for="old_password">Current Password</label>
                    <div class="controls">
                        <input required id="old_password" name="old_password" placeholder="Password" type="password" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass1">Password</label>
                    <div class="controls">
                        <input required id="pass1" name="pass1" placeholder="New Password" type="password" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="pass2">Confirm Password</label>
                    <div class="controls">
                        <input required id="pass2" name="pass2" placeholder="Confirm New Password" type="password" />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button class="btn btn-primary" type="submit">&nbsp;Update Account&nbsp;</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% end %}